useDynLib(ADaCGH3)

export("pSegmentCBS",
       "pSegmentACE",
       "pSegmentPSW",
       "pSegmentWavelets",
       "segmentPlot",
       "mergeCBS",
       "DNAcopyDiagnosticPlots",
       "WaveletsDiagnosticPlots"
       )


S3method(summary, ACE)
S3method(print, summary.ACE)
S3method(summary, ACE.array)
S3method(print, summary.ACE.array)

S3method(writeResults, CGH.PSW)
S3method(writeResults, CGH.ACE.summary)
S3method(writeResults, CGH.wave)
S3method(writeResults, CGH.DNAcopy)
