useDynLib(ADaCGH)

export("mpiInit",
       "pSegmentDNAcopy",
       "pSegmentACE",
       "pSegmentPSW",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentBioHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "segmentPlot",
       "writeResults",
       "SegmentPlotWrite",
       "pSegmentDNAcopy_A",
       "pSegmentACE_A",
       "pSegmentHMM_A",
       "pSegmentBioHMM_A",
       "doMCR")



S3method(summary, ACE)
S3method(summary, ACE.array)

S3method(writeResults, CGH.PSW)
S3method(writeResults, summaryACE)
S3method(writeResults, CGH.wave)
S3method(writeResults, DNAcopy)
S3method(writeResults, adacghGLAD)
S3method(writeResults, CGHseg)
S3method(writeResults, mergedHMM)
S3method(writeResults, mergedBioHMM)



