useDynLib(ADaCGH)

export("mpiInit",
       "pSegmentDNAcopy",
       "pSegmentACE",
       "pSegmentPSW",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentBioHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "segmentPlot",
       "plateauPlot",
       "writeResults")



S3method(summary, ACE)
S3method(print, summary.ACE)
S3method(summary, ACE.array)
S3method(print, summary.ACE.array)

S3method(writeResults, CGH.PSW)
S3method(writeResults, CGH.ACE.summary)
S3method(writeResults, CGH.wave)
S3method(writeResults, DNAcopy)
S3method(writeResults, adacghGLAD)
S3method(writeResults, CGHseg)
S3method(writeResults, mergedHMM)
S3method(writeResults, mergedBioHMM)

S3method(plateauPlot, DNAcopy)
S3method(plateauPlot, CGH.wave)


