useDynLib(ADaCGH, aceAnalysis, ad_rConvAndPeak, ad_rPulseConv,
          ad_rWConvAndPeak, ad_rThresAndUnify)

export("mpiInit",
       "pSegmentDNAcopy",
       "pSegmentACE",
       "pSegmentPSW",
       "pSegmentWavelets",
       "pSegmentHMM",
       "pSegmentBioHMM",
       "pSegmentGLAD",
       "pSegmentCGHseg",
       "pSegmentHaarSeg",
       "segmentPlot",
       "writeResults",
       "SegmentPlotWrite",
       "doMCR")



S3method(summary, ACE)
S3method(summary, ACE.array)

S3method(writeResults, CGH.PSW)
S3method(writeResults, summaryACE)
S3method(writeResults, CGH.wave)
S3method(writeResults, DNAcopy)
S3method(writeResults, adacghGLAD)
S3method(writeResults, CGHseg)
S3method(writeResults, mergedHMM)
S3method(writeResults, mergedBioHMM)
S3method(writeResults, adacghHaarSeg)



